body{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: lavender;
}

button{
    background-color: pink;
    padding: 10px;
}

#typeOptions{
    margin: 25px;
}